html, body {
	background: #eee;
	font-size: 15px;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

body {
	width: 800px;
	margin: 0 auto;
}

canvas {
	/*background: #fff;*/
}

.controls {
	text-align: right;
	color: #aaa;
}
a{
    text-decoration: none;
    color: black;
    font-family: arial;
}
button{
    background-color: #ffffff;
    border-radius: 8px;
}
div.center{
    margin:0 auto;
    height:20px;
    width:30px;
}
canvas{
    width: 100%;
    height: 200px;
}